

.jobTitle{
  color: black;
  
}

.jobDescription{
  color: #282c3f;
 
}
.jobUpdate{
  color: #03a685;
}
.btnApply {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: lightgreen;
  color: rgb(255, 255, 255);
  cursor: pointer;
}