.bagitemContainer {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 4px 4px 0;
}
.itemleftPart {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.bagitemImg {
  width: 100%;
}
.itemrightPart {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}
.companyName{
  text-align: left;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.itemName {
  color: #535766;

  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.currentPrice {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.originalPrice {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount{
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.returnPeriod {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}
.returnperiodDays {
  font-weight: 700;
  margin-right: 4px;
}
.deliveryDetails {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}
.deliveryDetailsdays {
  color: #03a685;
}
.removeFromcart {
  position: absolute;
  font-size: 25px;
  bottom: 30px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}






