.navDropdown{
  background-color: #ECF0F1;
}
.navItems{
  background-color:  #ECF0F1;
  margin-top: -6px;
  margin-bottom: -10px;
  padding-top: 0px;
  
}
.navLinks{
  background-color:  #ECF0F1;
  margin-top: -0px;
  margin-bottom: -0px;
}
.navDivider{
 
  background-color:  #ECF0F1;
  margin-top: 10px;
  margin-bottom: -0px;
}

.socalLink{
  background-color:  #ECF0F1;
  color: green;
  margin-top: 0px;
  margin-bottom: -7px;
}