.navDropdown{
  background-color: #ECF0F1;
}
.navItems{
  background-color:  #ECF0F1;
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 0px;
}
.navLinks{
  
}
.navDivider{
 
  border: 1px solid #0A66C2;
}

.socalLink{
  background-color:  #ECF0F1;
}