.bagSummary {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;

  background-color: #eaeaec;
}
.bagdetailsContainer {
  margin-bottom: 16px;
}

.priceHeader {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.priceItem {
  margin-bottom: 12px;
  margin-right: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}



.priceitemValue {
  float: right;
  margin-right: 12px;
}

.priceFooter {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}
.btnplaceOrder {
  width: 97.10%;
 
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.btnLink{
  text-decoration: none;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
}