.modalOverLay{
  width: 100%;
  position: fixed;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);

}

.ModalDiv{
  width: 320px;
  position: fixed;
  height: 80%;
  background-color: white;
  transition: 0.6s;
  left: 50%;
  top: -1000px;
  transform: translate(-50%);
}
.modalShow{
  display: block;
}
.showModal{
  top: 10%;
}
.en{
  position: fixed;
  right: -30px;
  top: 300px;
  transform: rotate(90deg);
}
