
.me-auto{

  display: flex;
  justify-content: space-between;
  float: left;
  
  
  
}
#basic-nav-dropdown{
  
  font-weight: 700;
  padding-top: 10px;
  margin-left: 10%;

  margin-right: 10px;
  
 
  
}

.bg-body-tertiary{
  background-color: red;

}
