/*Its THE  FF GAME AMOUNT CSS*/
/* IT IS THE MAIN AMOUNT CALSS*/
.mainAmoutdiv{
 
  background-color: #F8F9FA;
  width: 100%;
 
}
/*iTS IS THE AMOUNT INPUT CLASS*/
.amountInput{
  /* border: 1px solid black; */
margin: 4px;
 
  /* margin-bottom: 19px; */
}
/* IT IS THE AMOUNT BUTTON CLASS*/
.amountBtn{
  /* border: 1px solid black; */
  display: flex;
 
  justify-content: center;
  flex-wrap: wrap;
}
/* ITS THE AMOUNT SUBMIT CLASS*/
.amountSubmit{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}