.resultDiv{
/* border: 1px solid black; */
 
  width: 100%;
  display: flex;
  flex-direction: column;

}

.resultBtn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

